.login-page {
	background-image: url("../images/accessoris/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.card-body.login-card-body {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.col.image {
	background-image: linear-gradient(to top right, #7d2ca9, #b381c9);
}

.image .text-center .hero-image {
	width: 350px;
	margin: 70px;
}

.login-box-msg span,
.col-5 h5,
.justify-content-end small {
	color: #7d2ca9;
}

.btn.sign {
	background-color: #7d2ca9;
	color: #fff;
}
